@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

@layer components {
    /*
//fvのアクション
    .start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}
*/
    .navList {
        @apply hover:bg-sky-50 hover:ease-in duration-200 rounded-2xl h-16 w-32;
    }
    .navA {
        @apply h-full flex items-center justify-center;
    }

    .title {
        @apply text-4xl text-center mb-20;
    }

    .profilelist {
        @apply mt-4 md:mt-0 mb-4 pb-2 border-dashed  border-orange-200 border-b-4 text-gray-900;
    }
    .main {
        @apply bg-[url('/public/sora.jpg')] bg-contain bg-no-repeat bg-[center_top];
    }

    .kinako {
        @apply bg-[url('/public/kinako.png')] bg-no-repeat bg-[right_-15rem_top_5rem] bg-[length:750px_600px];
    }

    .bg-fix {
        height: 300px;
        overflow: auto;
        background: #eee none no-repeat center 0 / cover fixed;
    }
    .Lisa {
        @apply bg-[top_20px_right] bg-cover bg-fixed bg-[url('/public/LiSA.jpg')];
    }
    .radwimps {
        background-image: url("/public/radwimps.jpg");
    }
    .claris {
        background-image: url("/public/Claris.jpg");
    }

    #skill {
        opacity: 0;
        transform: translate(0, 100px);
        transition: all 1s;
    }

    #skill.active {
        display: block;
        opacity: 1;
        transform: translate(0, 0);
    }

    .action.skillPercent {
        @apply bg-green-600 text-xl leading-none text-center text-white duration-300;
    }

    .action.skillPercent {
        animation: wiggle 2s;
    }
    @keyframes wiggle {
        from {
            --tw-bg-opacity: 1;
            background-color: rgb(22 163 74 / var(--tw-bg-opacity));
            width: 0%;
        }

        to {
            --tw-bg-opacity: 1;
            background-color: rgb(22 163 74 / var(--tw-bg-opacity));

        }
    }
    body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.6;
        color: #000;
        margin: 0;
        padding: 0;
    }

    img {
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    /*-------------------------------------------------------------------------
スライダーstart
--------------------------------------------------------------------------*/
    .slide-items {
        @apply w-[90%] h-[90%] m-auto;
    }

    .slick-dots li button:before {
        font-size: 50px;
        top: 50px;
    }
    .slide-arrow {
        background-color: #333;
        bottom: 0;
        height: 0;
        margin: auto;
        position: absolute;
        top: 0;
        width: 0;
    }
    .prev-arrow {
        border-bottom: 15px solid rgb(253 242 248);
        border-left: 0;
        border-right: 15px solid #000;
        border-top: 15px solid rgb(253 242 248);
        left: -25px;
    }
    .next-arrow {
        border-bottom: 15px solid rgb(253 242 248);
        border-left: 15px solid #000;
        border-right: 0;
        border-top: 15px solid rgb(253 242 248);
        right: -25px;
    }
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        padding: 0;
    }

    .slide-items img {
        @apply w-full lg:h-[450px] h-[70vw] sm:h-[60vw] md:h-[50vw] sm:object-cover max-w-full;
    }
    /*-------------------------------------------------------------------------
スライダーend
--------------------------------------------------------------------------*/
}
